<!DOCTYPE html>

<html>

<style>
h1 {
color:green;
margin-top: 350px;
}
</style>

<body>

<h1 align="center"> Thank you for uploading your document.
  <br>
  <br>
  <br>
Head back to the application to continue! </h1>

</body>

</html>
